{% load static %}
{% load myfilters %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Forestry Licensing - Application</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.css' %}" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-application-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <img src="{% static 'img/logo-sm.png' %}" width="200" alt="...">
                                <h1 class="h4 text-gray-900 mb-4">View Application #{{ application.id }} for: {{ application.importer_name }} </h1>
                                <h2>Application Status: {{ application.approval }}</h2>
                            </div>
                                {% if messages %}
                                    {% for message in messages %}
                                    <div class="col-lg-12 mb-4">
                                    <div class="card bg-{{message.tags}} text-white shadow">
                                        <div class="card-body">
                                        {{ message }}
                                        </div>
                                    </div>
                                    </div>
                                    {% endfor %}
                                {% endif %}
                                <span class="card bg-danger text-white shadow">{{ form.non_field_errors }}</span>
                                <br />
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <b>Type: </b><br />
                                        {{ application.type }}                                        
                                    </div>
                                    <div class="col-sm-6">
                                        <b>Importer Name: </b><br />
                                        {{ application.importer_name }}    
                                    </div>
                                </div>
                                <div class="form-group">
                                    <b>Importer Email: </b><br />
                                    {{ application.importer_email }}
                                </div>
                                <div class="form-group">
                                    <b>Importer Social Security Number: </b><br />
                                    {{ application.importer_social }}
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                     <b>Importer Phone: </b> <br />
                                      {{ application.importer_phone }}                                
                                    </div>
                                    <div class="col-sm-6">
                                      <b>Importer Business Number:</b> <br />
                                       {{ application.business_number }}
                                    </div>
                                </div>
                                <div class="form-group">
                                   <b>Importer Address:</b><br />
                                      {{ application.importer_address }}
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <b>Importer City:</b><br />
                                        {{ application.importer_city }}
                                    </div>
                                    <div class="col-sm-6">
                                       <b>Importer Zip:</b> <br />
                                        {{ application.importer_zip }}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <b>Importer State:</b><br />
                                        {{ application.importer_state }}
                                    </div>
                                    <div class="col-sm-6">
                                        <b>Importer Country:</b><br />
                                        {{ application.importer_country }}
                                    </div>
                                </div>
                                <div class="text-center">
                                    <hr />
                                    <h2 class="h5 text-gray-900 mb-4">Exporter Info</h2>
                                </div>
                                <div class="form-group">
                                    <b>Exporter Name: </b><br />
                                    {{ application.exporter_name }}
                                </div>
                                <div class="form-group">
                                   <b>Exporter Address:</b><br />
                                      {{ application.exporter_address }}
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <b>Exporter City:</b><br />
                                        {{ application.exporter_city }}
                                    </div>
                                    <div class="col-sm-6">
                                        <b>Exporter Zip:</b><br />
                                        {{ application.exporter_zip }}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <b>Exporter State:</b><br />
                                        {{ application.exporter_state }}
                                    </div>
                                    <div class="col-sm-6">
                                        <b>Exporter Country:</b><br />
                                        {{ application.exporter_country }}
                                    </div>
                                </div>
                                <div class="text-center">
                                    <hr />
                                    <h2 class="h5 text-gray-900 mb-4">Shipment Info</h2>
                                </div>
                                <div class="form-group">
                                    <b>Mode of Transport: </b><br />
                                    {{ application.mode_of_transport }}
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                     <b>Port of Entry: </b> <br />
                                      {{ application.port_of_entry }}
                                    </div>
                                    <div class="col-sm-6">
                                        <b>Port of Exit:</b><br />
                                        {{ application.port_of_exit }}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                      <b>Treatment:</b><br />
                                        {{ application.treatment }}
                                    </div>
                                    <div class="col-sm-6">
                                      
                                    </div>
                                </div>
                            {% if application.goods == 'Lumber' %}
                                <div class="text-center">
                                    <hr />
                                    <h2 class="h5 text-gray-900 mb-4">Lumber Details</h2>
                                </div>
                            {% for lumber in application.lumber_details.all %}    
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                     <b>Local Name:</b> <br />  
                                      {{ lumber.local_name }}
                                    </div>
                                    <div class="col-sm-6">
                                        <b>Scientific Name:</b><br />
                                        {{ lumber.scientific_name }}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <b>Quantity: </b><br />
                                        {{ lumber.quantity }}
                                    </div>
                                    <div class="col-sm-6">
                                      <b>Grade:</b> <br />
                                       {{ lumber.grade }}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                      <b> Value: </b><br />
                                       {{ lumber.value }}
                                    </div>
                                    <div class="col-sm-6">
                                        <b>Remarks:</b><br />
                                        {{ lumber.remarks }}
                                    </div>
                                </div>
                                <div class="text-center">
                                    <hr />
                                </div>
                            {% endfor %}
                            {% endif %}
                            {% if application.files.all %}
                            <div class="text-center">
                               
                                <h2 class="h5 text-gray-900 mb-4">Supporting Files</h2>
                                <hr />
                            </div>
                            {% for file in application.files.all %}
                                <div class="form-group">
                                  <a href="{{ file.url }}" target="_blank">{{ file.file }}</a> 
                                </div>
                            {% endfor %}
                            {% endif %}
                            <hr>
                            <div class="text-center">
                                <a class="small" href="/licensing/forgot">Forgot Code?</a>
                            </div>
                            <div class="text-center">
                                <a class="small" href="/licensing/login">Already have an account? Login!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

</body>

</html>